* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
   font-family: 'montseratt', sans-serif;
}

.app{
  background-image:url('images/cold.jpg');
  background-size:cover;
  background-position:bottom;
  transition:0.3,ease-out;
}
.app.warm{
  background-image:url('images/warm.jpg') ;
  background-size:cover;
  background-position:bottom;
  transition:0.3,ease-out;
}
main{
  min-height: 100vh;
  background-image: linear-gradient(to bottom,rgba(0,0,0,0.2),rgba(0,0,0,0.7));
}
