* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
   font-family: 'montseratt', sans-serif;
}

.app{
  background-image:url('images/cold.jpg');
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 50px;
  background-size:cover;
  box-shadow: 5px 10px 18px grey;
  transition:0.3,ease-out;
}
.app.warm{
  background-image:url('images/warm.jpg')  ;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 50px;
  box-shadow: 5px 10px 18px grey;
  transition:0.3,ease-out;
}
main{
  min-height: 100vh;
  background-image: linear-gradient(to bottom,rgba(0,0,0,0.2),rgba(0,0,0,0.7));
  border-radius: 50px;
  padding:25px;
  color: white
};
.search-box{
  width:100%;
  margin:0 0 75px;
  
}
.search-box .search-bar{
  display:block;
  width:100%;
  padding:15px;

  appearance: none;
  background: none;
  border:none;
  outline:none;

  background-color: rgba(225,225,225,0.56);
  border-radius:20px;
  margin-top: -10px;

  box-shadow: 0 5px 8px rgba(0,0,0,0.7);

  color:black;
  font-size:13px;

  transition:0.4s, ease;

};
.search-box .search-bar :focus{ 
  background-color:rgba(225,225,225,0.5);
  
}
.location-box .location{
  color:whitesmoke;
  font-size:32px;
  font-weight:500;
  text-align: center;
  text-shadow:3px 3px rgba(0,0,0,0.7);
}
.location-box .date{
  color:whitesmoke;
  font-size:32px;
  font-weight:300;
  font-style: italic;
  text-align: center;
  text-shadow:2px 2px rgba(0,0,0,0.7);
}
.weather-box{
   text-align: center;
}
.weather-box .temp{
    position: relative;
    display:inline-block;
    margin: 30px auto;

    background-color: rgba(180, 180, 180);
    border-radius: 50px;
    padding: 15px 25px;

    font-size: 102px;
    font-weight:900;
    text-shadow: 3px 6px rgba(60,60,60);
    box-shadow: 3px 6px rgba(0,0,0,0.7);
}
.weather-box .weather{
  font-size: 48px;
  font-weight: 300px;
  text-shadow: 3px 3px rgba(60,60,60);
}
